 /* Style buttons  v1 
.btn {
    background-color: DodgerBlue;
    border: none; 
    color: white; 
    padding: 12px 16px; 
    font-size: 16px; 
    cursor: pointer; 
    width: 420px;
    height: 130px;
}
  
.btn:hover {
    background-color: RoyalBlue;
}

#menu1 {
    text-align: center;
    align-content: center;
    padding: 230px 0;
}
*/

#menu1 {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    left: 0;
    width: 100%; /* Full width */
}

.mech-drop:hover .dropdown-nav{
  color: black;
  
  text-decoration: none;
  display: block;
} 

#content {
    margin-top: 55px;
}

.active {
    background-color: rgb(16, 16, 80);
}

.dropdown-nav {
    display: none;
    position: absolute;
    background-color: #333;
    
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

body {
    background-color: rgb(102, 102, 102);
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}